:root{
  --primary-color: #15121a;
  --accent-color: #9152FF;
  --accent2-color:#cf36a1;
  --pastel-color: #f8ce8a;
  --secundary-color: #4B4555;
}

@font-face {
  font-family: JetBrains;
  src: url('./fonts/ttf/JetBrainsMono-Regular.ttf');
}

html{
  scroll-behavior: smooth;
}

body{
  background-color: var(--primary-color);
  color: aliceblue;
}

.AppDevJourneyTile{
  color: var(--accent-color);
  font-family: JetBrains;
  margin:0;
}

.AppLogo{
  width: 40px;
  border-radius: 100%;
  margin: 0 5px;
}

.AppRight{
  display: flex;
  align-items: center;
}

.AppNav{
  background-color: var(--primary-color);
  box-shadow: 0px 2px 5px var(--accent2-color);
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.AppButtons{
  display: flex;
  align-items: center;
  margin: 0 5px;
}

.AppBtnTheme{
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.AppBtnTheme img{
  width: 30px;
}

.AppRedes{
  margin: 0 5px;
}

.AppRedesIcon{
  width: 40px;
  margin: 0 2px;
}

.AppSobreMim{
  cursor: pointer;
}

/*Apresentaçao area*/
.AppApresentacaoArea{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.AppApresentacaoLogo{
  width: 500px;
  border-radius: 100%;
}

.AppApresentacaoTexto{
  color:var(--accent-color);
  font-family: JetBrains;
  width: 500px;
  text-align: justify;
}